################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/LethalRed/.vs/LethalRed
/LethalRed/bin/Debug
/LethalRed/obj/Debug
/LethalRed/packages
/LethalRed/bin/Release
/LethalRed/obj/Release
/LethalRed/publish
/LethalRed/release
/.vs/LethalRed
/bin/Debug
/obj/Debug
/packages
/bin/Release
/obj/Release
/publish
/release
/LethalTests/bin
/LethalTests/obj
/LethalTests/bin/Debug
/LethalTests/obj/Debug